# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.env
.env.enc
.venv/
.env/

# Flask session folder
flask_session/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# PDF files
*.pdf

# IDE/editor files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace